<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>
    <h1>Futonland Stock</h1>

    <form action="/products" method="POST">
      <input type="text" placeholder="brand" name="brand" />
      <input type="text" placeholder="product_type" name="product_type" />
      <button type="submit">Submit</button>
    </form>

    <h2> Products </h2>

    

    <form action="/" method="GET">
        <select name="brand" id="brand">
            <option value="">All Brands</option>
            <% for (const brand in brands) {%>
                <option value="<%= brand %>" <% if (request['brand'] == brand) {%> selected <% } %>><%= brand %> (<%= brands[brand] %>)</option>
            <% } %>
        </select>
        <select name="product_type" id="product_type">
            <option value="">All Product Types</option>
            <% for (const type in types) {%>
                <option value="<%= type %>" <% if (request['product_type'] == type) {%> selected <% } %>><%= type %> (<%= types[type] %>)</option>
            <% } %>
        </select>
        <button type="submit">Search</button>
    </form>

    <p>Result Count: <%= count %></p>

    <ul class="products">
      <% for (var i = 0; i < products.length; i++) {%>
        <li class="quote">
          <span><%= products[i].brand %></span>:
          <span><%= products[i].product_type %></span>
        </li>
      <% } %>
    </ul>

    <div>
        <h2>Darth Vadar invades!</h2>
        <p>
          Replace first Yoda's quote with a quote written by Darth Vadar
        </p>
        <button id="update-button">Replace Yoda's quote</button>
        <button id="delete-button">Delete Darth Vadar's quote</button>
        <div id="message"></div>
    </div>
    
    <script type="text/javascript" src="/script.js"></script>
  </body>
</html>